@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.primary-color{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 to-pink-900;
}

body{
    background-color: black;
}

.bg-primary-color{
    @apply bg-gradient-to-r from-blue-500 to-pink-800 inline-block;
}